:root {
    --col-accent: #2AA198;
    --sand-light: #FDF6E3;
    --sand-bg: #EEE8D5;
    --gray-bold: #586E75;
    --gray-light: #93A1A1;
}

@font-face {
    font-family: "Roboto";
    src: url("/RobotoFlex.ttf");
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--sand-bg);
    width: max(320px, 100%);
}

div {
    font-family: "Roboto", Inter, Arial, Helvetica, sans-serif;
    color: var(--gray-bold);
}

#feed_header {
    display: block;
    width: calc(100%);
    background-color: var(--sand-light);
    border: 0;
    border-bottom: 1px solid transparent;
}

#feed_header img {
    display: block;
    aspect-ratio: 1 / 0.192;
    width: 100%;
}

.fh_i {
    display: block;
    width: 100%;
}

.fh_a {
    display: block;
    margin: 16px;
    margin-bottom: 8px;
    color: var(--gray-bold);
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

#feed_header>p {
    display: block;
    margin: 16px;
    margin-top: 8px;
    color: var(--gray-light);
    font-size: 16px;
}

.month_title {
    display: flex;
    height: 32px;
    width: 100%;

    margin-top: 16px;

    align-items: center;

    background-color: var(--sand-light);
    color: var(--gray-bold);
    font-size: 16px;
    font-weight: 600;
}

.month_title>hr {
    width: 25%;
    height: 0px;
    color: var(--gray-light);
}

.post {
    width: calc(100%);
    margin-top: 16px;
    margin-bottom: 16px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    color: var(--gray-bold);
}

.post_info_wrapper {
    margin: -1.2px;
    padding: 0;
}

.post_info {
    margin: 0;
    padding: 16px;
    padding-bottom: 4px;
    background-color: var(--sand-light);
}

.block_title {
    position: relative;
    width: 100%;
    height: 32px;
}

.block_title_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    background-color: var(--gray-bold);
}

.block_title_box>img {
    padding: 8px;
    width: 16px;
    height: 16px;
}

.block_title_overline {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--gray-bold);
}

.block_title>h2 {
    position: absolute;
    top: 4px;
    left: 40px;
    height: 32px;
    margin: 0;
    padding: 0;
    line-height: 28px;
    font-size: 18px;
    font-weight: 800;
}

.post_info_short {
    height: 24px;
    margin-top: 8px;
    font-size: 13px;
    line-height: 24px;
}

.post_info_long {
    display: none;

    width: 100%;
    padding-top: 8px;
    flex-direction: column;
    gap: 2px;
}

.info_entry {
    height: 28px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.info_entry>img {
    display: inline;
    width: 24px;
    height: 24px;
    padding-left: 4px;
}

.info_entry>span {
    padding-left: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post_body {
    height: fit-content;

    padding: 0;
    margin: 0;
    background-color: var(--sand-light);
}

.f_img {
    position: relative;
    width: 100%;
}

.f_img img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 0.48;
    object-fit: cover;
}

.f_img > div {
    position: absolute;
    bottom: 12px;
    left: 50%;
}

.f_img h1 {
    position: relative;
    left: -50%;

    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;

    font-size: 18px;
    font-weight: 200;

    background-color: var(--sand-light);
}

.post_content {
    padding: 16px;
    padding-top: 16px;
    padding-bottom: 8px;
}

.post_content>p {
    padding: 0;
    margin: 0;

    padding-bottom: 16px;

    line-height: 175%;
}

.post_content img {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.post_content a {
    color: var(--col-accent);
    text-decoration: none;
}

#feed_bottom_btns {
    display: flex;
    height: 48px;
    width: 100%;

    margin-top: 16px;
    margin-bottom: 96px;

    align-items: center;
    gap: 8px;

    font-size: 16px;
    font-weight: 600;
}

#feed_bottom_btns>a {
    display: flex;
    width: 100;
    height: 100%;

    flex-grow: 3;
    justify-content: center;
    align-items: center;

    background-color: var(--sand-light);
    color: var(--col-accent);
    text-decoration: none;
}

#feed_toc {
    display: none;
}

#toc_content {
    padding-top: 16px;
}

.toc_year,
.toc_month,
.toc_post {
    display: block;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;

    text-decoration: none;
    color: var(--gray-bold);
    font-weight: 600;
    font-size: 16px;
}

.toc_month {
    padding-left: 16px;
}

.toc_post {
    padding-left: 32px;
    color: var(--col-accent);
}

.nonfatal_error {
    margin-top: 16px;
    padding: 16px;
    background-color: var(--sand-light);
    color: var(--gray-light);
}

.nonfatal_error>h1 {
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
    color: var(--gray-bold);
    font-size: 18px;
    font-weight: 600;
}

@media (min-width: 480px) {

    #feed_header,
    .month_title {
        width: calc(100% - 2*16px);
        margin: 16px;
        box-shadow: 4px 4px 0 var(--gray-light);
    }

    .post {
        width: calc(100% - 2*16px);
        margin: 16px;
    }

    .post_info {
        box-shadow: 4px 4px 0 var(--gray-light);
    }

    .post_body {
        box-shadow: 4px 4px 0 var(--gray-light);
    }

    #feed_bottom_btns {
        width: calc(100% - 2*16px);
        margin: 16px;
        margin-top: 32px;
        margin-bottom: 96px;
    }

    .nonfatal_error {
        margin: 16px;
        box-shadow: 4px 4px 0 var(--gray-light);
    }

}


@media (min-width: 680px) {

    #feed_header {
        border-top: 1px solid transparent;
    }

    .fh_a {
        font-size: 22px;
    }

    .f_img > div {
        bottom: 24px;
    }

    .f_img h1 {    
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 16px;
        padding-bottom: 16px;
    
        font-size: 24px;
        font-weight: 200;
    }

    #feed_header img {
        width: calc(100% - 2*16px);
        margin: 16px;
    }

    .month_title {
        height: 48px;
    }

}

@media (min-width: 900px) {

    .month_title {
        font-size: 18px;
    }

    .post {
        position: relative;
        display: flex;
        flex-direction: row;
    }

    .post_info {
        display: inline-block;
        height: fit-content;
        width: 270px;

        position: sticky;
        top: 16px;
        z-index: -1;

        padding-bottom: 16px;
    }

    .post_info_short {
        display: none;
    }

    .post_info_long {
        display: flex;
    }

    .post_body {
        display: inline-block;
        width: calc(100% - 270px - 2*16px);
    }

    .post_content {
        padding: 32px;
        padding-top: 16px;
        padding-bottom: 8px;
    }

    #feed_bottom_btns {
        width: calc(100% - 270px - 4*16px);
        margin-left: calc(270px + 3*16px);
    }
}

@media (min-width: 1200px) {

    #feed_body {
        display: flex;
        flex-direction: row;
    }

    #feed_posts {
        display: inline-block;
        width: 100%;
    }

    #feed_toc {
        display: inline-block;
        width: 272px;
        padding-top: 16px;
        padding-right: 16px;
    }

    #feed_toc>div {
        position: sticky;
        top: 16px;
        width: calc(272px - 2*16px);
        padding: 16px;
        background-color: var(--sand-light);
        box-shadow: 4px 4px 0 var(--gray-light);
    }

}

@media (min-width: 1600px) {

    body {
        position: absolute;
        left: calc(50% - 800px);
        width: 1600px;
    }

}